VITE_SUPABASE_URL=https://vgtbqrhbaewaowjvfcif.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZndGJxcmhiYWV3YW93anZmY2lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3MDc0ODksImV4cCI6MjEwNjI4MzQ4OX0.sqXc5wfte8FEJznpjCQ-XIwrZ0J16cQXnFjA86OEUyY
